.card-footer-pagination .pagination,
.card-footer-pagination p {
    margin-bottom: 0;
}

.input-error-info  {
    color: #ff2323;
    font-size: 0.75rem;
}

.table-responsive:not(.ws-normal) table TR TH,
.table-responsive:not(.ws-normal) table TR TD{
    white-space: nowrap;
}

table THEAD TR TH A {
    text-decoration: none;
}

.sort-active.sort-asc::after, .sort-active.sort-desc::after {
	margin-left: 6px;
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sort-active.sort-asc::after {
	content: "\F574";
}

.sort-active.sort-desc::after {
	content: "\F575";
}

.ck-editor__editable {
    min-height: 250px !important;
}

.gallery-single-image {
    cursor: move;
}

.card-primary.card-outline-tabs>.card-header a.active, .card-primary.card-outline-tabs>.card-header a.active:hover {
    border-top: 3px solid #007bff
}

.inactive-page-row {
    background: #ededed;
    opacity: 0.8;
}

.select2-container {
    width: 100% !important;
}

.ajax-table {
	position: relative;
	min-height: 90px;
}

.ajax-table THEAD TH {
    font-weight : normal;
}

.ajax-table.loading .ajax-loading, DIV.loading .ajax-loading {
	display: block !important;
}

.ajax-loading {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(255 255 255 / 50%);
	z-index: 1;
}

.ajax-loading-wheel {
	width: 20px;
	height: 20px;
	margin-top: -40px;
	margin-left: -40px;
	position: absolute;
	top: 60%;
	left: 50%;
	border-width: 20px;
	border-radius: 50%;
	animation: spinner-border .75s linear infinite;
    border-style: double;
	border-color: #ccc transparent;
}

TH.sortable {
    cursor: pointer;
    color: var(--bs-link-color);
}

.select2-container {
    width: 100% !important;
}

.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;

}
.select2-container--bootstrap .select2-selection--single {
    padding: 8px 24px 8px 12px !important;
}